@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";
.videoList {
  @include desktop {
    display: flex;
    flex-direction: column;
    width: 700px;
  }
  // &__contain {
  //   @include desktop {
  //     flex-grow: 1;
  //   }
  // }
}

// .video {
//   @include desktop {
//     display: flex;
//   }
//   // &__container{

//   // }
//   // &_description{

//   // }
//   // &__form{

//   // }
//   // &__comment{

//   // }
//   // &__side{

//   // }
// }
