@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

.video {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0;
  }
  &__title {
    font-family: avenir;
    @include video-header;
    padding-top: 1.5rem;
    @include tablet {
      padding-bottom: 1rem;
      font-family: avenir;
      @include videotablet-header;
    }
  }
  &__border {
    padding-top: 1rem;
    border-bottom: 0.063rem solid #e1e1e1;
    @include tablet {
      visibility: hidden;
      padding: 0;
    }
    @include desktop {
      padding-top: 0;
    }
  }
  &__borders {
    padding-top: 1rem;
    border-bottom: 0.063 solid #e1e1e1;
    @include tablet {
      padding-top: 0.5rem;
      border-bottom: 0.063rem solid #e1e1e1;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      padding-right: 1rem;
    }
  }
  &__author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include tablet {
      flex-direction: row;
    }
  }
  &__channel {
    font-family: avenir;
    @include mobile-labels;
    font-size: 0.625rem;
    margin-bottom: 0.5rem;
    @include tablet {
      margin: 0 1rem 0 0;
      font-family: avenir;
      @include mobile-labels;
    }
  }
  &__timestamp {
    font-family: avenir;
    @include mobile-labels;
    font-size: 0.625rem;
    color: $silver;
    @include tablet {
      @include mobile-labels;
    }
  }
  &__attraction {
    display: flex;
    flex-direction: column;
    padding-right: 3.1rem;
    @include tablet {
      flex-direction: row;
      padding: 0;
    }
  }
  &__views {
    display: inline-block;
    font-family: avenir;
    @include mobile-labels;
    font-size: 0.625rem;
    color: $silver;
    padding-left: 0.5rem;
    @include tablet {
      font-family: avenir;
      @include mobile-labels;
      font-size: 0.75rem;
    }
  }
  &__logoviews {
    vertical-align: bottom;
    @include tablet {
      padding-bottom: 0.2rem;
    }
  }
  &__description {
    padding-top: 1rem;
    font-family: avenir;
    @include mobile-subheader;
    @include tablet {
      padding-top: 1.5rem;
      font-family: avenir;
      @include tablet-subheader;
    }
  }
}
