@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

.form {
  &__title {
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: avenir;
    @include mobile-subheader;
    font-weight: 700;

    @include tablet {
      padding: 1.5rem 2rem 0 2rem;
    }

    @include desktop {
      font-family: avenir;
      @include tablet-subheader;
      font-weight: 700;
      padding-top: 1.5rem;
      padding-left: 0;
      padding-bottom: 1.5rem;
    }
  }
  &__subheader {
    padding: 1rem;
    display: flex;
    @include tablet {
      padding: 1rem 2rem 0 2rem;
    }
    @include desktop {
      margin: 0;
      padding: 0;
      padding-bottom: 1rem;
    }

    &__avatar {
      padding-top: 1rem;
    }
    &__mohan {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
    }
  }

  &__avatar {
    padding-top: 1rem;
  }

  &__avatarimage {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex-grow: 1;
    @include tablet {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-grow: 1;
      margin-right: 1rem;
    }
  }
  &__header {
    font-family: avenir;
    @include mobile-subheader;
    font-weight: 700;
    color: $silver;
  }
  &__textarea {
    height: 6.25rem;
    border-color: $silver;
    padding-left: 1rem;
    padding-top: 0.5rem;
    @include tablet {
      padding-left: 1rem;
      height: 2.5rem;
      width: 100%;
    }
  }
  &__uploadbar {
<<<<<<< HEAD
    height: 40px;
    border-radius: 4px;
    border: none;
=======
    height: 2.5rem;
    border-radius: 0.25rem;
    border-color: white;
>>>>>>> develop
    background-color: $brainFlix-blue;
    color: $white;
    margin-top: 1rem;
    @include tablet {
      width: 9.375rem;
    }
    @include desktop {
      margin-right: 1rem;
    }
  }
  &__uploadstyle {
    display: flex;
  }
  &__uploadlogo {
    vertical-align: middle;
    padding-left: 0.5rem;
    font-size: 0.006rem;
    width: 1.5rem;
  }
  &__uploadtext {
    align-self: center;
    flex-grow: 1;
    display: inline-block;
    font-family: avenir;
    @include mobile-labels;
    font-size: 0.625rem;
  }
}
