@font-face {
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-family: "avenir";
  font-weight: 400;
}

@font-face {
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-family: "avenir";
  font-weight: 700;
}
