@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";
.hero {
  background-color: $brainFlix-barkBlack;
  &__image {
    width: 100%;
    object-fit: contain;
    @include tablet {
      padding: 0 32px;
    }
    @include desktop {
      padding: 0 180px;
    }
  }
}
