@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background-color: black;
  &__image {
    width: 100%;
    object-fit: contain;
    @include tablet {
      padding: 0 32px;
    }
    @include desktop {
      padding: 0 180px;
    }
  }
}
