@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

.navigation {
  &__section {
    padding: 1.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding: 1rem 2rem;
    }
    @include desktop {
      padding: 1rem 7.5rem;
    }
  }
  &__container {
    text-align: center;
    margin: auto;
    object-fit: contain;
    @include tablet {
      margin: 0;
    }
  }
  &__logo {
    height: 1.563rem;
    width: 7.5rem;
    @include tablet {
      margin-top: 0.5rem;
    }
  }
  &__picture {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    right: 0;
    top: 1.2rem;
    @include tablet {
      right: 1.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    @include desktop {
      right: 7rem;
    }
  }
  &__header {
    position: relative;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      position: relative;
      position: unset;
      flex-direction: row;
      padding: 0;
      flex-grow: 1;
    }
  }
  &__searchbar {
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: $white;
    border-color: $mercury;
    margin-right: 3rem;
    border: 0.063rem solid $mercury;
    @include tablet {
      width: 12.5rem;
      position: absolute;
      right: 13rem;
    }
    @include desktop {
      right: 19rem;
    }
  }
  &__searchbarleft {
    display: flex;
    padding-left: 0.5rem;
  }

  &__searchlogo {
    vertical-align: middle;
  }
  &__searchtext {
    font-family: avenir;
    @include mobile-labels;
    padding-left: 0.5rem;
  }
  &__uploadbar {
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: $brainFlix-blue;
    color: $white;
    margin-top: 1rem;

    @include tablet {
      position: absolute;
      right: 5rem;
      margin-top: 0;
    }
    right: 6rem;
    @include desktop {
      right: 10rem;
    }
  }
  &__uploadstyle {
    display: flex;
  }
  &__uploadlogo {
    vertical-align: middle;
    padding-left: 0.5rem;
  }
  &__uploadtext {
    font-family: avenir;
    @include mobile-labels;
    align-self: center;
    flex-grow: 1;
    display: inline-block;
    @include tablet {
      flex-grow: 0;
      align-self: none;
    }
  }
}
