@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";

.navigation {
  &__section {
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding: 16px 32px;
    }
    @include desktop {
      padding: 16px 120px;
    }
  }
  &__container {
    text-align: center;
    margin: auto;
    object-fit: contain;
    @include tablet {
      margin: 0;
    }
  }
  &__logo {
    height: 25px;
    width: 120px;
    @include tablet {
      margin-top: 0.5rem;
    }
  }
  &__picture {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    right: 0;
    top: 1.2rem;
    @include tablet {
      right: 1.5rem;
      width: 40px;
      height: 40px;
    }
    @include desktop {
      right: 6rem;
    }
  }
  &__header {
    position: relative;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    @include tablet {
      position: relative;
      position: unset;
      flex-direction: row;
      padding: 0;
      flex-grow: 1;
    }
  }
  &__searchbar {
    height: 40px;
    border-radius: 4px;
    background-color: $white;
    border-color: $mercury;
    margin-right: 3rem;
    @include tablet {
      width: 200px;
      position: absolute;
      right: 13rem;
    }
    @include desktop {
      right: 18rem;
    }
  }
  &__searchbarleft {
    display: flex;
    padding-left: 0.5rem;
  }

  &__searchlogo {
    vertical-align: middle;
  }
  &__searchtext {
    font-family: avenir;
    @include mobile-labels;
    padding-left: 0.5rem;
  }
  &__uploadbar {
    height: 40px;
    border-radius: 4px;
    background-color: $brainFlix-blue;
    color: $white;
    margin-top: 16px;

    @include tablet {
      position: absolute;
      right: 5rem;
      margin-top: 0px;
    }
    right: 6rem;
    @include desktop {
      right: 9rem;
    }
  }
  &__uploadstyle {
    display: flex;
  }
  &__uploadlogo {
    vertical-align: middle;
    padding-left: 0.5rem;
  }
  &__uploadtext {
    font-family: avenir;
    @include mobile-labels;
    align-self: center;
    flex-grow: 1;
    display: inline-block;
    @include tablet {
      flex-grow: 0;
      align-self: none;
    }
  }
}
