@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";
.bordertop {
  border-bottom: 1px solid #e1e1e1;
}
.comments {
  border-top: 1px solid #e1e1e1;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  padding-bottom: 1rem;
  @include tablet {
    margin: 0 32px;
    margin-top: 1rem;
  }
  @include desktop {
    margin: 0;
    padding-top: 1rem;
  }

  &__image {
    padding-right: 2.3rem;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #bbbbbb66;
    // @include desktop {
    //   padding-top: 2rem;
    // }
  }
  &__container {
    padding-left: 1rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    @include desktop {
      padding-right: 1rem;
    }
  }
  &__name {
    display: inline-block;
    font-family: avenir;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    padding-bottom: 0.5rem;
    @include tablet {
      font-family: avenir;
      font-size: 14px;
      line-height: 22px;
      font-weight: 700;
    }
  }
  &__time {
    font-family: avenir;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
    color: #afafaf;
  }
  &__itself {
    display: inline-block;
    font-family: avenir;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    @include tablet {
      font-family: avenir;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

    // @include desktop {
    //   font-size: 0.8rem;
    // }
  }
}
