@import "./styles/partials/variables";
@import "./styles/partials/mixins";
@import "./styles/partials/fonts";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: avenir, Arial, Helvetica, sans-serif;
}

.parent {
  @include desktop {
    display: flex;
  }
  &__video {
    @include desktop {
      padding-left: 8rem;
      border-right: 1px solid #e1e1e1;
    }
  }
  &__side {
    @include desktop {
      margin-left: 2rem;
      margin-right: 7rem;
    }
  }
}
