@import "./styles/partials/variables";
@import "./styles/partials/mixins";
@import "./styles/partials/fonts";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: avenir, Arial, Helvetica, sans-serif;
}
